<div class="links-section">
  <a href="https://www.linkedin.com/in/egranato/">
    <i class="fab fa-linkedin"></i>
    <h4>/egranato</h4>
  </a>
  <a href="https://github.com/egranato">
    <i class="fab fa-github-square"></i>
    <h4>/egranato</h4>
  </a>
</div>
<div class="contact-points">
  <a href="tel:+17206027879" rel="nofollow">
    <i class="fas fa-phone-alt"></i>
    <p>(720) 602-7879</p>
  </a>
  <a href="mailto:ethan@granato.net" rel="nofollow">
    <i class="fas fa-paper-plane"></i>
    <p>ethan@granato.net</p>
  </a>
</div>
