<div class="lander">
  <div class="image-holster">
    <img src="/assets/images/ethan.png" alt="Ethan Granato" />
  </div>
  <h2>Ethan Granato</h2>
  <h4>Full Stack Developer</h4>
</div>
<div class="demo-section">
  <h2>My Skills</h2>
</div>
<div class="demo-section">
  <h2>Where I've Worked</h2>
  <div class="employer">
    <a href="https://www.mortgage365.com/">
      <img src="/assets/images/mortgage365.png" alt="Mortgage365" />
      <i class="fal fa-external-link"></i>
    </a>
    <p>2017-Present</p>
    <p>
      Mortgage365 provides two services. The first, is an LOS bridge for Loan
      Officers to have an easy and efficient interface to build out loans before
      syncing to their existing LOS systems as well as a customer presentation
      engine to interface with Borrowers. The second, is a direct platform that
      utilizes the previously mentioned suite internally, along with a Borrower
      portal.
    </p>
    <a routerLink="work">
      <p>Learn More</p>
      <i class="fal fa-external-link"></i>
    </a>
  </div>
</div>
<div class="demo-section"></div>
<div class="demo-section">
  <app-contact></app-contact>
</div>
