<div class="lander">
  <div class="image-holster">
    <img src="/assets/images/ethan.png" alt="Ethan Granato" />
  </div>
  <h2>Ethan Granato</h2>
  <h4>Full Stack Developer</h4>
</div>
<div class="demo-section">
  <h3>My Top Skills</h3>
  <div class="skill-holster">
    <div class="skill-box">
      <img src="/assets/images/angular.png" alt="Angular" />
    </div>
    <div class="skill-box">
      <img src="/assets/images/asp.net.png" alt="Asp .Net" />
    </div>
    <div class="skill-box">
      <img src="/assets/images/nodejs.png" alt="nodejs" />
    </div>
  </div>
  <div class="skill-holster">
    <div class="skill-box">
      <img src="/assets/images/express.png" alt="Express.js" />
    </div>
    <div class="skill-box">
      <img src="/assets/images/postgresql.png" alt="PostgreSQL" />
    </div>
    <div class="skill-box">
      <img src="/assets/images/cli.png" alt="cli" />
    </div>
  </div>
  <a routerLink="skills">
    <p>Learn More</p>
    <i class="fal fa-external-link"></i>
  </a>
</div>
<div class="demo-section">
  <h3>Where I've Worked</h3>
  <div class="employer">
    <a href="https://www.mortgage365.com/">
      <img src="/assets/images/mortgage365.png" alt="Mortgage365" />
      <i class="fal fa-external-link"></i>
    </a>
    <p>2017-Present</p>
    <p>
      Mortgage365 provides two services. The first, is an LOS bridge for Loan
      Officers to have an easy and efficient interface to build out loans before
      syncing to their existing LOS systems as well as a customer presentation
      engine to interface with Borrowers. The second, is a direct platform that
      utilizes the previously mentioned suite internally, along with a Borrower
      portal.
    </p>
    <a routerLink="work">
      <p>Learn More</p>
      <i class="fal fa-external-link"></i>
    </a>
  </div>
</div>
<div class="demo-section">
  <h3>Things I've Built</h3>
  <h4 class="project-title">Project Mpenzi</h4>
  <p>Project Mpenzi is a travel blog that I was contracted to create.</p>
  <a class="project-link" href="https://github.com/egranato/ProjectMpenziAPI">
    <i class="fab fa-github-square"></i>
  </a>
</div>
<div class="demo-section">
  <app-contact></app-contact>
</div>
