// Defining values
$medium: 768px;
$large: 992px;
$xlarge: 1200px;
$xxlarge: 1400px;

// Defining media queries
$screen: "only screen" !default;
$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "#{$screen} and (orientation: portrait)" !default;
$medium-up: "#{$screen} and (min-width:#{$medium})" !default;
$large-up: "#{$screen} and (min-width:#{$large})" !default;
$xlarge-up: "#{$screen} and (min-width:#{$xlarge})" !default;
$xxlarge-up: "#{$screen} and (min-width:#{$xxlarge})" !default;
$xxlarge-up: "#{$screen} and (min-width:#{$xxlarge}))" !default;

// Usage
// @media #{$medium-up}    { ... }
// @media #{$large-up}     { ... }
// @media #{$xlarge-up}    { ... }
// @media #{$xxlarge-up}   { ... }
// @media #{$xxlarge-up} { ... }
